/****** BASE STYLES ******/

body {
	font-family: 'Source Sans Pro', sans-serif;
}

#about, #skills, #contact, #work {
	height: 600px;
}

/****** GRID *******/

.full-width {
	width: 1200px;
	margin: 0 auto;
}

.half-width {
	width: 600px;
	float: left;
}

.third-width {
	width: 400px;
	float: left;
}

/****** HEADER *******/

header {
	height: 800px;
	background: url('../img/office-space.jpg');
	background-size: cover;
}

header h1 {
	font-family: 'Tenor', serif;
	color: #4A52C;
	font-size: 30px;
	padding: 50px 0;
}

nav {
	float: right;
	width:100%;
    position:absolute;
    margin-left:30%;
    margin-top:30px;
}

nav ul li {
	display: inline-block;
	white-space: nowrap;
}

nav ul li a {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 15px;
	color: #2D3142;
	padding-left: 30px;
}

header h2 {
	width: 1000px;
	clear: both;
	font-family:'Tenor', serif;
	font-size: 78px;
	line-height: 80px;
	color: #ffffff;
	padding: 20px 0;
}



/****** ABOUT SECTION *******/

#about .full-width {
	padding: 80px 0;
}

#about h2 {
	font-family: 'Tenor', serif;
	font-size: 36px;
	clear:both;
	text-align: left;
	text-transform: uppercase;
}

#about p {
	font-size: 21px;
	color: #7F7F7F;
	line-height: 40px;
	padding-right: 50px;
}

/****** SKILLS SECTION *******/

#skills {
	background-color: #ebebeb;
}

#skills .full-width {
	padding: 10px 10px 30px 10px;
}

#skills .third-width {
	text-align: center;
}

#skills img {
	padding-bottom: 30px;
}

#skills h2 {
	font-family: 'Tenor', serif;
	font-size: 36px;
	text-transform: uppercase;
}

#skills h3 {
	font-size: 24px;
	width: 190px;
	margin: 0 auto;
}

#skills p {
	font-family: 'Tenor', serif;
	font-size: 18px;
	line-height: 30px;
	color: #2B2B2B;
}

/****** WORK SECTION *******/

#work {
	background-color: #89879B;
}

#work .full-width {
	padding: 10px 10px 30px 10px;
}

#work .third-width {
	text-align: center;
}

#work img {
	border: 12px solid #ffffff;
}


#work h2 {
	font-family: 'Tenor', serif;
	font-size: 36px;
	text-transform: uppercase;
}

#work h3 {
	font-size: 24px;
	width: 190px;
	margin: 0 auto;
}

#work p {
	font-family: 'Tenor', serif;
	font-size: 18px;
	line-height: 30px;
	color: #2B2B2B;
}


/****** CONTACT SECTION *******/


#contact {
	background-color: #ebebeb;
}

#contact .full-width {
	padding: 110px 0;
}

#contact-img {
	border: 12px solid #ffffff;
}

#contact h2 {
	font-family: 'Tenor', serif;
	font-size: 36px;
	text-transform: uppercase;
}

#contact h2, #email-header, #socialmedia-header, #contact ul {
	padding-left: 115px;
}

#envelope {
	padding: 0 10px 0 115px;
}

#contact h2 {
	font-family: 'Tenor', serif;
	font-size: 36px;
}

#email-header {
	font-size: 32px;
	font-weight: 400;
	margin: -30px 0 5px 0;
}

#socialmedia-header {
	font-weight: bold;
	font-size: 29px;
	margin: 40px 0 0 0;
}

#contact a {
    text-decoration: none;
    color: #c49075;
    font-weight: bold;
    font-size: 28px;
}

#contact ul {
	list-style: none;
}

#contact ul li {
	display: inline-block;
}

#contact ul img {
	padding-right: 48px;
}
